<img class="center slick-logo" src="images/Slick.png" alt="Slick Logo"/>
<h2>What is Slick?</h2>
<p>Slick is a test management platform.  The term platform is used to indicate that it is more than just an application.
A test management application would typically dictate, very strictly, the workflow of the testing.  Slick is meant to
be adaptable to many different types of testing.  Currently it is used by several companies to aid in testing web
based products, desktop products, and everything in between.</p>
<hr class="glowing"/>
<h2>How do I use it?</h2>
<p>If you select an area from the above items, a list of actions will become available.  Select any one of those.</p>
<p>For example, if you wanted to see reports, select "Reports" above, then try the "Test Run Results"</p>
<hr class="glowing"/>
<h2>Popular Pages</h2>
<p>Here are some pages that are frequently used:</p>
<ul>
    <li><a class="button" href="#/reports/bytestrun">Test Run Results</a> this is where you can see recently entered results.</li>
    <li><a class="button" href="#/runtests/findtp">Find Test Plan</a> from which you can schedule (which means run) the test plan or view it.</li>
    <li><a class="button" href="#/testmgmt/addbuild">Add Build</a> to the current project.</li>
</ul>
