<div class="view-form-header">
<div class="boxname">AMQP Server Configuration</div>
<span class="explanation">Events are sent as AMQP messages.  You can configure which server to use here.<br/>Click on a value to edit it.</span>
<div class="error-container" id="admin-amqpconfig-error-container" style="display: none">
    <div class="error-message" id="admin-amqpconfig-error"></div>
</div>
</div>

<table class="view-form">
    <tr>
        <td class="view-form-name">Hostname<br/><span class="explanation">The hostname of the AMQP server</span></td>
        <td class="view-form-value"><div id="admin-amqpconfig-hostname" data-fieldname="hostname" class="view-form-editable"></div></td>
    </tr>
    <tr>
        <td class="view-form-name">Port<br/><span class="explanation">The port of the AMQP server (default 5672)</span></td>
        <td class="view-form-value"><div id="admin-amqpconfig-port" data-fieldname="port" class="view-form-editable"></div></td>
    </tr>
    <tr>
        <td class="view-form-name">Username<br/><span class="explanation">The username (if any) needed for authentication</span></td>
        <td class="view-form-value"><div id="admin-amqpconfig-username" data-fieldname="username" class="view-form-editable"></div></td>
    </tr>
    <tr>
        <td class="view-form-name">Password<br/><span class="explanation">The password (if any) needed for authentication</span></td>
        <td class="view-form-value"><div id="admin-amqpconfig-password" data-fieldname="password" class="view-form-editable"></div></td>
    </tr>
    <tr>
        <td class="view-form-name">Virtual Host<br/><span class="explanation">The AMQP virtual host to talk to (default / )</span></td>
        <td class="view-form-value"><div id="admin-amqpconfig-virtualHost" data-fieldname="virtualHost" class="view-form-editable"></div></td>
    </tr>
    <tr>
        <td class="view-form-name">Exchange<br/><span class="explanation">The AMQP exchange to use (default amqp.topic)</span></td>
        <td class="view-form-value"><div id="admin-amqpconfig-exchangeName" data-fieldname="exchangeName" class="view-form-editable"></div></td>
    </tr>
</table>