<h3 class="center">{{projectname}} Most Recent Test Runs</h3>
{{#if extralinks}}
<hr class="glowing" />
        <div class="center">
-
{{#each linkslist}}
<a href="{{value}}">{{name}}</a>
 -
{{/each}}
        </div>
{{/if}}
<hr class="glowing" />
{{#unless nodata}}
<div id="dashboardlet-{{projectname}}-chart" class="dashboardlet-chart">
</div>
<div >
    {{#each theruns}}
    <a href="#/reports/testrunsummary/{{id}}">{{name}} - {{datestring}}
    <br />
    Release: {{release.name}} Build: {{build.name}}</a>
    <br />
    <a href="#/reports/testrundetail/{{id}}?only=PASS" class="result-status-PASS">Pass: {{summary.resultsByStatus.PASS}}</a>
    <a href="#/reports/testrundetail/{{id}}?only=FAIL" class="result-status-FAIL">Fail: {{summary.resultsByStatus.FAIL}}</a>
    <a href="#/reports/testrundetail/{{id}}?only=BROKEN_TEST" class="result-status-BROKENTEST">Broken: {{summary.resultsByStatus.BROKEN_TEST}}</a>
    <br  />
    <br />
{{/each}}
</div>
{{else}}
        <div class="center">No test runs are available for {{projectname}}</div>
{{/unless}}
