<div id="subtitle">
	<h2 id="subtitle1"></h2>
	<h2 id="subtitle2"></h2>
	<div class="clear"></div>
</div>
<div id="data-loading">
	<img src="images/spinner.gif" />Loading...
</div>
<table id="trdetailtable" class="table-full-width"></table>
{{if includepass}}
<a class="button" href="#/reports/testrundetail/${testrunid}">Exclude <span class="slick-result-PASS">PASS</span> Results</a>
{{else}}
<a class="button" href="#/reports/testrundetail/${testrunid}?includepass=true">Include <span class="slick-result-PASS">PASS</span> Results</a>
{{/if}}
