<div id="subtitle">
    <h2 id="subtitle1" class="subtitle-left">{{subtitle1}}</h2>
	<h2 id="subtitle2" class="subtitle-right">{{subtitle2}}</h2>
    <div class="clear"></div>
    {{#if subtitle3}}
    <h3 id="subtitle3" class="subtitle-left">{{subtitle3}}</h3>
    {{/if}}
    {{#if subtitle4}}
    <h3 id="subtitle4" class="subtitle-right">{{subtitle4}}</h3>
    {{/if}}
    <div class="clear"></div>
    <h5 id="createdTime" class="subtitle-left">{{timeCreated}}</h5>
    <div class="clear"></div>
</div>
<div id="testrunsummary-chart" class="chart">
</div>
<div id="summary">
    {{#each summarylines}}
        <div class="summaryline">
            <a href="#/reports/testrundetail/{{../data.testrun.id}}?only={{resultstatus}}" class="summarylinetitle result-status-{{statusclass}}">{{resulttype}}</a>
            <div class="summarylinenumber">{{numberoftests}}</div>
            <div class="summarylinepercent">{{percentageoftotal}}</div>
        </div>
    {{/each}}
    <hr />
    {{#with summarytotal}}
        <div class="summaryline">
            <a href="#/reports/testrundetail/{{../data.testrun.id}}?includepass=true" class="summarylinetitle result-status-{{statusclass}}">{{resulttype}}</a>
            <div class="summarylinenumber">{{numberoftests}}</div>
        </div>
    {{/with}}
</div>
<div class="clear">
</div>
<a class="button" href="#/reports/testrundetail/{{data.testrun.id}}?includepass=true">All Results</a>
<a class="button" href="#/reports/testrundetail/{{data.testrun.id}}">All Results Except <span class="result-status-PASS">PASS</span></a>
<a id="{{data.testrun.id}}/reschedule-FAIL" class="button testrun-reschedule-bulk" href="javascript:;">Reschedule Failed Tests</a>
<a id="{{data.testrun.id}}/reschedule-BROKEN_TEST" class="button testrun-reschedule-bulk" href="javascript:;">Reschedule Broken Tests</a>

