<div id="subtitle">
    <h2 id="subtitle1" class="subtitle-left">{{subtitle1}}</h2>
    <h2 id="subtitle2" class="subtitle-right">{{subtitle2}}</h2>
    <div class="clear"></div>
    {{#if subtitle3}}
    <h3 id="subtitle3" class="subtitle-left">{{subtitle3}}</h3>
    {{/if}}
    {{#if subtitle4}}
    <h3 id="subtitle4" class="subtitle-right">{{subtitle4}}</h3>
    {{/if}}
    <div class="clear"></div>
    <h5 id="createdTime" class="subtitle-left">{{timeCreated}}</h5>
    <div class="clear"></div>
</div>
<table id="trdetailtable" class="table-full-width"></table>
{{#if includepass}}
<a class="button" href="#/reports/testrundetail/{{data.testrun.id}}">Exclude <span class="slick-result-PASS">PASS</span> Results</a>
{{else}}
<a class="button" href="#/reports/testrundetail/{{data.testrun.id}}?includepass=true">Include <span class="slick-result-PASS">PASS</span> Results</a>
{{/if}}
