<span class="explanation">Create a new testrun group, giving it a name.</span>
<hr class="glowing" />
<form id="add-testrungroup-form" action="?">
    <div class="formline">
        <label for="add-testrungroup-form-name">Name
            <span class="explanation">The name of the new Testrun Group</span>
        </label>
        <input type="text" name="add-testrungroup-form-name" id="add-testrungroup-form-name" />
    </div>
    <div class="formline">
        <a href="javascript:;" class="button" id="add-testrungroup-form-submit">Add New Testrun Group</a>
    </div>
</form>

