<div id="schedule-testplan-box" class="box width-8">
    <div id="schedult-testplan-box-name" class="boxname">Schedule Test Plan '{{data.tp.name}}'</div>
    <span id="schedule-testplan-box-explanation" class="explanation">Submitting this form will create empty results for all {{data.testcount}} tests in the plan.</span>
    <hr class="glowing" />
    <form action="?">
        
        <div class="formline">
            <label for="schedule-testplan-environment-select">Environment
                <span class="explanation">The environment to test with</span>
            </label>
            <select id="schedule-testplan-environment-select">
                {{#each data.config}}
                    <option value="{{id}}" data-environmentname="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="formline">
            <label for="schedule-testplan-release-select">Release
            </label>
            <select id="schedule-testplan-release-select">
                {{#each data.proj.releases}}
                    {{#if isDefaultRelease}}
                        <option data-name="{{name}}" value="{{id}}" selected>{{name}}</option>
                    {{else}}
                        <option data-name="{{name}}" value="{{id}}">{{name}}</option>
                    {{/if}}
                {{/each}}
            </select>
        </div>
        
        <div class="formline">
            <label for="schedule-testplan-release-build-select">Build
                <span class="explanation">The release and build to test with</span>
            </label>
            <select id="schedule-testplan-release-build-select">
            </select>
        </div>
                
         
        
        <div class="formline">
            <label for="schedule-testplan-runtimeoptions-select">Runtime Options
                <span class="explanation">The runtime options to test with</span>
            </label>
            <select id="schedule-testplan-runtimeoptions-select">
                <option value="NONE" selected>None</option>
                {{#each data.runtimeOptions}}
                    <option value="{{id}}" data-runtimeoptionsname="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        
        <div class="formline">
            <a href="javascript:;" class="button" id="schedule-testplan-form-submit">Schedule</a>
        </div>

    </form>
</div>
<div class="clear">
</div>
