<div class="table-full-centered">
    <div class="table-row-centered">
        <div id="inactive-release-list-box" class="table-half-width">
            <h2 style="text-align:center">Inactive Releases</h2>
            <table id="inactive-release-list"></table>
        </div>
        <div class="center-everything right-left-panel" >
            <h2 style="text-align:center"> </h2>
            <a href="javascript:;" class="button" id="activate-release">&rAarr;</a>
            <br />
            <a href="javascript:;" class="button" id="deactivate-release">&lAarr;</a>
        </div>
        <div id="active-release-list-box" class="table-half-width">
            <h2 style="text-align:center">Active Releases</h2>
            <table id="active-release-list"></table>
        </div>
    </div>
</div>
<div class="clear">
</div>
