{{#with data.testcase}}
<div class="box" id="test-case-attributes">
    <div class="width-6">
    <ul class="headerbox">
        <li class="headerbox">
            <span class="label">Name -  </span>
            <span>{{name}}</span>
        </li>
        {{#if author}}
        <li class="headerbox">
            <span class="label">Author -  </span>
            <span>{{author}}</span>
        </li>
        {{/if}}
        <li class="headerbox">
            <span class="label">Purpose - </span>
            <span>{{purpose}}</span>
        </li>
        <li class="headerbox">
            <span class="label">Attributes - </span>
            {{#if atributes}}
                <span>{{attributes}}</span>
            {{else}}
                <span>None</span>
            {{/if}}
        </li>
        <li class="headerbox"><span class="label">Tags - </span>
            <span>{{tags}}</span>
        </li>
        <li class="headerbox">
            <span class="label">Requirements - </span>
            <span>{{requirements}}</span>
        </li>
    </ul>
    </div>
    <div class="width-6">
    <ul class="headerbox">
        <li class="headerbox">
            <span class="label">Project -  </span>
            <span>{{project.name}}</span>
        </li>
        <li class="headerbox">
            <span class="label">Component - </span>
            <span>{{component.name}}</span>
        </li>
        <li class="headerbox">
            <span class="label">Automated Status - </span>
            {{#if automated}}
                <span>Yes</span>
            {{else}}
                <span>No</span>
            {{/if}}
        </li>
        <li class="headerbox">
            <span class="label">Automation Tool - </span>
            <span>{{automationTool}}</span>
        </li>
        <li class="headerbox">
            <span class="label">Automation ID - </span>
            <span>{{automationId}}</span>
        </li>
    </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="boxname">Test Case Steps:</div>
<table class="table-full-width" id="testcase-detail-table"></table>
{{/with}}