.loglevel {
	display: inline-block;
	padding-right: .1in;
	font-size: .9em;
}

.logtime {
	display: inline-block;
	border-left: 1px solid white;
	padding-left: .1in;
	font-size: .9em;
}

.logname {
	font-size: .8em;
	word-wrap: break-word;
}

.logmessage {
	font-size: 1.2em;
	white-space: pre-wrap;
	font-family: monospace;
	word-wrap: break-word;
}

.logentry {
	border-bottom: 1px solid white;
	padding-bottom: .05in;
}

.loglevel-ERROR {
	color: #a6000d;
}

.loglevel-FATAL {
	color: #a6000d;
}

.loglevel-DEBUG {
	color: #838382;
}

.loglevel-WARN {
	color: #e99235;
}
