
#result-detail-panel-toolbar {
	margin: .02in .05in;
}

#result-detail-panel-beforemain {
	margin: 0 .05in;
}

#result-detail-panel-main {
	margin: .02in .05in;
	margin-top: 0;
}

#result-detail-panel-mainnavigation a {
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
	font-size: .2in;
	letter-spacing: .1em;
}

