.headerrow {
	font-size: .25in;
	font-weight: 600;
	border-bottom: 1px solid;
}

.testrunname {
	width: 3.5in;
	display: inline-block;
}

.testrunplan {
	width: 1.8in;
	display: inline-block;
}

.testrunconfig {
	width: 1.8in;
	display: inline-block;
}

.testrunbuild {
	width: 1.8in;
	display: inline-block;
}

.boxcontent {
	padding-left: .05in;
	padding-right: .05in;
	padding-bottom: .1in;
}
